name: Build LunarWand

on:
  push:
    branches: ["**"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build with Maven
        run: mvn -B -ntp clean package

      - uses: actions/upload-artifact@v4
        with:
          name: LunarWand-JAR
          path: target/*.jar
